<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{$wa->appName()} &mdash; {$wa->accountName()}</title>
    {$wa->css()}
    <link rel="stylesheet" href="{$wa_url}wa-content/js/jquery-plugins/ibutton/jquery.ibutton.min.css?v={$wa->version()}">
    <link type="text/css" rel="stylesheet" href="{$wa_app_static_url}css/vendors/daterangepicker.min.css?v{$wa->version()}">
    <link type="text/css" rel="stylesheet" href="{$wa_app_static_url}css/wadev.css?v{$wa->version()}">
    <script type="text/javascript" src="{$wa_url}wa-content/js/jquery/jquery-1.11.1.min.js?{$wa->version(true)}"></script>

    {wa_js file="js/compiled/wadev-external.min.js"}
        {$wa_url}wa-content/js/jquery/jquery-migrate-1.2.1.min.js
        {$wa_url}wa-content/js/jquery-ui/jquery.ui.core.min.js
        {$wa_url}wa-content/js/jquery-ui/jquery.ui.widget.min.js
        {$wa_url}wa-content/js/jquery-ui/jquery.ui.mouse.min.js
        {$wa_url}wa-content/js/jquery-ui/jquery.ui.sortable.min.js
        {$wa_url}wa-content/js/jquery-ui/jquery.ui.droppable.min.js
        {$wa_url}wa-content/js/jquery-ui/jquery.ui.draggable.min.js
        {$wa_url}wa-content/js/jquery-ui/jquery.ui.position.min.js
        {$wa_url}wa-content/js/jquery-ui/jquery.ui.autocomplete.min.js
        {$wa_url}wa-content/js/jquery-ui/jquery.ui.datepicker.min.js
        {$wa_url}wa-content/js/jquery-plugins/jquery.store.js
        {$wa_url}wa-content/js/jquery-plugins/ibutton/jquery.ibutton.min.js
        {$wa_url}wa-content/js/jquery-wa/wa.core.js
        {$wa_url}wa-content/js/jquery-wa/wa.dialog.js
        {$wa_url}wa-content/js/farbtastic/farbtastic.js
        {$wa_app_static_url}js/vendors/tmpl.js
        {$wa_app_static_url}js/vendors/moment.js
    {$wa_app_static_url}js/vendors/jquery.daterangepicker.min.js
    {/wa_js}

    {if $wa->locale()!='en'}
    <script type="text/javascript" src="{$wa_url}wa-content/js/jquery-ui/i18n/jquery.ui.datepicker-{$wa->locale()}.js"></script>
    {/if}


    {wa_js file="js/compiled/wadev.min.js"}
        {$wa_app_static_url}js/wadev.js
        {$wa_app_static_url}js/settings.js
        {$wa_app_static_url}js/licenses.js
        {$wa_app_static_url}js/orders.js
        {$wa_app_static_url}js/products.js
        {$wa_app_static_url}js/promocodes.js
    {/wa_js}

</head>
<body>
<div id="wa">
    {$wa->header()}
    <div id="wa-app">
        <div class="sidebar left200px" id="wadev-sidebar">

            <div class="block">
                <h5 class="heading top-padded"><b>[`Navigation`]</b></h5>
                <ul class="menu-v with-icons collapsible">
                    <li>
                        <a href="{$wa_app_url}transaction/"><i class="icon16 folder"></i>[`Transactions`]</a>
                    </li>
                    <li>
                        <a href="{$wa_app_url}license/"><i class="icon16 folder"></i>[`License & Order Check`]</a>
                    </li>
                    {*<li>
                        <a href="{$wa_app_url}products/"><i class="icon16 apps"></i>[`Products`]</a>
                    </li>*}
                    <li>
                        <a href="{$wa_app_url}promocode/"><i class="icon16 tags"></i>[`Promocodes`]</a>
                    </li>
                    <li>
                        <a href="{$wa_app_url}settings/"><i class="icon16 settings"></i>[`Settings`]</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content left200px">
            <div id="content">
                {block name='content'}{$content}{/block}
            </div>
        </div>
    </div>
</div>
<script>
    (function($) {
        'use strict';

        $.wadev.init({
            is_debug: {$is_debug},
            app_url: {$wa_app_url|json_encode},
            sidebar: '#wadev-sidebar',
            app_name: '{$wa->appName()}',
            account_name: '{$wa->accountName()}'
        });
    })(jQuery);
</script>

</body>
</html>