table.wadev {
  border: 1px solid #ddd;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;

  th {
    padding: 5px;
    background-color: #ddd;
  }

  td {
    padding: 8px 5px;
    border-bottom: 1px solid #ddd;
  }
}

td, th {
  &.min-width {
    width: 1%;
  }
}