<div class="block padded">
    <p class="wadev-balance">[`Current account balance`]: <b>{$balance.balance|wa_currency_html:$balance.currency}</b>. {if !empty($balance['error'])}<br><span class="error">{$balance.error}</span>{/if}</p>
    <div class="content-header">
        <h1>[`Transactions`]</h1>
        {if $last_update}<span class="hint">[`last sync:`] {$last_update|wa_datetime:'humandatetime'}</span>{/if}
    </div>

    <!--<a href="#" class="button green" data-wadev-action="update-transactions">[`Update`]</a>-->

    <form method="get" class="wa-form">
        <div class="field">
            <div class="name">[`Search`]</div>
            <div class="value">
                <input type="search" name="search" value="{$search|default:''|escape}">
            </div>
        </div>
        <div class="field">
            <div class="name">[`Dates`]</div>
            <div class="value">
                <input type="text" class="datepicker" name="from" value="{$from|default:''|escape}">
                <input type="text" class="datepicker" name="to" value="{$to|default:''|escape}">
            </div>
        </div>
        <div class="field">
            <div class="value">
                <input type="submit" class="small" value="[`filter`]"/>
            </div>
        </div>
    </form>


    <table class="zebra" data-transactions>
        <thead>
        <tr>
            <th>Дата</th>
            <th>До</th>
            <th>Сумма</th>
            <th>После</th>
            <th>Номер заказа</th>
            <th>Комментарий</th>
        </tr>
        </thead>
        <tbody>
        {foreach $transactions as $transaction}
        <tr{if $transaction->amount < 0} class="red italic"{/if}>
            <td class="nobr">{$transaction->datetime|wa_datetime:'humandatetime'}</td>
            <td class="align-right numerical nobr">{$transaction->balance_before|wa_format_number:2}</td>
            <td class="align-right numerical bold nobr">{$transaction->amount|wa_format_number:2}</td>
            <td class="align-right numerical nobr">{$transaction->balance_after|wa_format_number:2}</td>
            <td>{if $transaction->order_id}<a href="#" data-order-id="{$transaction->order_id}">{$transaction->order_id}</a>{/if}</td>
            <td>{$transaction->comment|escape}</td>
        </tr>
        {/foreach}
        {if $total}
        <tr>
            <td colspan="2">Всего на странице:</td>
            <td class="align-right numerical bold">
                {if $total.plus}<div class="nobr">{$total.plus|wa_format_number:2}</div>{/if}
                {if $total.minus}<div class="nobr red italic">{$total.minus|wa_format_number:2}</div>{/if}
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        {/if}
        </tbody>
    </table>
    {include '../include.pagination.html'
        baseurl='transaction/'
        limit=$limit
        search=$search
        current_page=$current_page
        pagination=$pagination
        start=$start
    inline}
</div>

<script>
    (function(){
        // todo: уже нужен класс
        var $transaction_wrapper = $('[data-transactions]');

        $transaction_wrapper.on('click', '[data-order-id]', function (e) {
            e.preventDefault();
            var $this = $(this);

            $('<div>').waDialog({
                url: '?module=transaction&action=info&order_id=' + $this.data('order-id'),
                'buttons': '<a href="#" class="cancel hint">Close</a>'
            });
        });
//        $.datepicker.setLocale('ru');
        $('.datepicker').datepicker({
            changeMonth : true,
            changeYear : true,
            shortYearCutoff: 2,
            gotoCurrent: true,
            constrainInput: false,

            beforeShow : function() {
                // hack! It's needed after-show-callback for changing z-index, but it doesn't exist
                setTimeout(function() {
                    // make min z-index 10
                    var zIndex = $('#ui-datepicker-div').css('z-index');
                    if (zIndex < 10) {
                        $('#ui-datepicker-div').css('z-index', 10);
                    }
                }, 0);
            }
        });

        // hide current datepicker by hardcoding style, because jquery.ui.datepicker
        // has bag and doesn't hide calendar by oneself
        $('#ui-datepicker-div').hide();
    })()
</script>