<div class="block padded" id="wadev-license-page">
    <h1>[`License check`]</h1>
    <div class="block">
        <form class="wa-form" id="wadev-license-form">
            <div class="required field">
                <div class="name">[`Domain`]</div>
                <div class="value">
                    <input type="text" name="data[domain]">
                </div>
            </div>
            <div class="field">
                <div class="name">[`Product`]</div>
                <div class="value">
                    <input type="text" name="data[product]"><br>
                    <span class="hint">[`Leave this field blank to see all licenses for your products issued for given domain`]</span>
                </div>
            </div>
            <div class="buttons field">
                <div class="value">
                    <button class="button green submit" type="submit">[`Search`]</button>
                </div>
            </div>
        </form>
    </div>
</div>