<header class="w-dialog-header">
    <h1>[`Order`] {if !empty($order['id'])}{$order.id|escape}{/if}{if !empty($order['status'])} <span class="hint">{$order.status}</span>{/if}</h1>
</header>
<div class="w-dialog-content">
    {include "./OrderCheck.html" inline}
    {if !empty($error)}
        <div class="error">
            {$error}
        </div>
    {/if}
</div>
<footer class="w-dialog-footer">
    <div class="w-actions">
        <div class="w-table-layout">
            <div class="w-column">
                <button type="button" class="button js-close-dialog w-button">[`Close`]</button>
                {*<a href="javascript:void(0)" class="js-close-dialog">[`Close`]</a>*}
            </div>
        </div>
    </div>
</footer>
